input {
    font-size: 24px;
}

input[type=text] {
    color: #424547;
    border: 1px solid #c2c2c2;
    background-color: white;
}

em {
    font-style: normal;
    font-weight: bold;
    color: black;
}

#messagesDiv {
    background-color: white;
    overflow: auto;
    height: 230px;
    width: 95%;
    padding: 10px;
    border: 8px solid #424547;
    margin-bottom: 5px;
    text-align: left;
}

#nameInput {
    width: 25%;
}

#messageInput {
    width: 70%;
}