<!DOCTYPE html>
<html ng-app="chatAppOnlyController" ng-controller="chatOnlyController">
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

<div>
    <div id='messagesDiv'>
        <div ng-repeat="message in messageholder.messages">
            <em>{{message.name}}: {{message.text}}</em>
        </div>
    </div>
    <form ng-submit="addMessage()">
        <input id="nameInput" type="text" placeholder="Name" ng-model="name"/>
        <input id="messageInput" type="text" placeholder="Message" ng-model="text"/>
        <input type="submit" id="submit" value="Send message"/>
    </form>
</div>

<div><a href="index.html">Back to index</a></div>

<script src="http://static.firebase.com/v0/firebase.js"></script>

<script src="lib/angular.js"></script>
<script src="jsChatOnlyController/controllers.js"></script>

</body>
</html>
