<!DOCTYPE html>
<html ng-app="dragDrop3App">
<head>
    <meta name="description" content="AngularJS + jQuery UI Drag-n-Drop"/>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet"
          type="text/css"/>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/humanmsg.css"/>

    <style>
        #dnd-container {
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            width: 568px
        }

        #dnd-container .ui-droppable {
            float: left;
            border: 2px solid fuchsia;
            width: 250px;
            padding: 10px;
            height: 208px;
            border-radius: 10px;
            margin-top: 20px;
        }
    </style>
    <meta charset=utf-8/>
    <title>JS Bin</title>
</head>
<body>
<div id='dnd-container' ng-controller='dndCtrl' ng-cloak>

    <div ui-drop-listener='dropListener' data-model='someArrays.list0'>
        <div ui-draggable ng-repeat='item in someArrays.list0' data-index='{{$index}}' class='btn btn-info btn-block'>
            {{item.name}}
        </div>
    </div>

    <div ui-drop-listener='dropListener' data-model='someArrays.list1' style='margin-left: 20px'>
        <div ui-draggable ng-repeat='item in someArrays.list1' data-index='{{$index}}' class='btn btn-info btn-block'>
            {{item.name}}
        </div>
    </div>

    <div ui-drop-listener='dropListener' data-model='someArrays.list2'>
        <div ui-draggable ng-repeat='item in someArrays.list2' data-index='{{$index}}' class='btn btn-info btn-block'>
            {{item.name}}
        </div>
    </div>

    <div ui-drop-listener='dropListener' data-model='someArrays.list3' style='margin-left: 20px'>
        <div ui-draggable ng-repeat='item in someArrays.list3' data-index='{{$index}}' class='btn btn-info btn-block'>
            {{item.name}}
        </div>
    </div>

</div>

<div style='clear:both;'></div>

<div style='text-align:center;margin:10px 0 40px 0'>
    <a href="index.html">Back to index</a>
</div>

<script src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="js/dragDrop3.js"></script>
<script src="lib/humanmsg.js"></script>

</body>
</html>
