<!DOCTYPE html>
<html ng-app="dragDrop3App">
<head>
    <meta name="description" content="AngularJS + jQuery UI Drag-n-Drop"/>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet"
          type="text/css"/>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .list1 {
            float: left;
            border: 2px solid fuchsia;
            width: 250px;
            padding: 10px;
            height: 200px;
            border-radius: 10px;
        }

        .list2 {
            float: left;
            border: 2px solid fuchsia;
            margin-left: 20px;
            width: 250px;
            padding: 10px;
            height: 200px;
            border-radius: 10px;
        }
    </style>
    <meta charset=utf-8/>
    <title>JS Bin</title>
</head>
<body ng-controller="dragDrop3Ctrl" ng-cloak>
<div style="margin-left:auto;margin-right:auto;margin-top:40px;width:568px">

    <div class='list1' droppable>
        <div class='btn btn-info btn-block' ng-repeat="item in list1" data-index="{{$index}}"
             data-reject="{{item.reject}}" draggable>{{item.name}}
        </div>
    </div>

    <div class='list2' droppable>
        <div class='btn btn-info btn-block' ng-repeat="item in list2" data-index="{{$index}}"
             data-reject="{{item.reject}}" draggable>{{item.name}}
        </div>
    </div>
</div>
<div style="clear:both;padding-top:20px"><a href="index.html">Back to index</a></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<script src="js/dragDrop3.js"></script>
</body>
</html>
