<!DOCTYPE html>
<html ng-app="chatApp" ng-controller="chatController">
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

<div>
    <div id='messagesDiv'>
        <div ng-repeat="message in messageholder.messages">
            <em>{{message.name}}: {{message.text}}</em>
        </div>
    </div>
    <form ng-submit="addMessage()">
        <input id="nameInput" type="text" placeholder="Name" ng-model="name"/>
        <input id="messageInput" type="text" placeholder="Message" ng-model="text"/>
        <input type="submit" id="submit" value="Send message"/>
    </form>
</div>

<ul>
    <li><a href="chatOnlyController.html">same demo with all code in the controller</a></li>
    <li><a href="masterDetail.html">masterDetail$resource</a></li>
    <li><a href="q.html">masterDetail$q</a></li>
    <li><a href="save.html">masterDetail$save</a></li>
    <li><a href="dragDrop.html">dragDrop</a></li>
    <li><a href="dragDrop3.html">dragDrop3</a></li>
    <li><a href="listShuttle.html">listShuttle</a></li>
    <li><a href="routing.html">routing</a></li>
    <li><a href="paginatedList.html">paginatedList</a></li>
</ul>

<script src="http://static.firebase.com/v0/firebase.js"></script>

<script src="lib/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>
